<div class="container-fluid">
    <div class="row">
        <div class="header">
                <div class="row">
                    <div class="row">
                        {# LOGO-SEARCH-LOGIN #}
                        <div class="col-12  border-bottom" style="height: 104px;">
                            {# OPEN MARKET #}
                            <div class="container" style="height: 20px; padding-top: 5px;">
                                <ul class="text-right">
                                    <a href="#" class="text-black-50" style="font-size: 12px">Sell products on Marketplace</a>
                                    <a href="#" class="text-black-50" style="font-size: 12px">|</a>
                                    <a href="#" class="text-black-50" style="font-size: 12px">Help & Support</a>
                                </ul>
                            </div>

                            <div class="container" style="height: 84px">
                                <div class="row pt-4">

                                    {# LOGO #}
                                    <div class="col-sm">
                                        <img style="width: auto; height: 32px; float: left"
                                             src='https://iconape.com/wp-content/files/fl/85575/svg/prosper-marketplace-corporate-logo.svg'>
                                    </div>

                                    {# SEARCH #}
                                    <div class="col-sm">
                                        <div class="input-group">
                                            <input type="text" name="keyword" class="form-control" placeholder="Enter for search">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="submit">Search</button>
                                            </div>
                                        </div>
                                    </div>

                                    {# LOG-IN DROPDOWN #}
                                    <div class="col-sm">
                                        <div class="dropdown show" style="float: right">
                                            <a class="btn btn-secondary ml-3"  href="#" role="button" id="dropdownMenuLink"
                                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <svg style="margin-bottom: 4px;" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                                                    <path fill-rule="evenodd" d="M11.354 5.646a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                                                </svg>
                                                CART(5)

                                            </a>

                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <a class="dropdown-item" href="#">My Orders</a>
                                                <a class="dropdown-item" href="#">Account</a>
                                                <a class="dropdown-item" href="#">Wish List</a>
                                                <a class="dropdown-item" href="#">Log Ot</a>
                                            </div>
                                        </div>
                                        <div class="dropdown show" style="float: right">
                                            <a class="btn btn-secondary dropdown-toggle"  href="#" role="button" id="dropdownMenuLink"
                                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                ACCOUNT
                                            </a>

                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <a class="dropdown-item" href="#">My Orders</a>
                                                <a class="dropdown-item" href="#">Account</a>
                                                <a class="dropdown-item" href="#">Wish List</a>
                                                <a class="dropdown-item" href="#">Log Ot</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 border-bottom" style="height: 42px;">
                            <div class="container">
                                {# NAVBAR #}
                                <ul class="menu">
                                    <li><a href="#" style="border-left: 1px solid rgba(0,0,0,.1);">ELECTRONICS</a>
                                        <ul>
                                            <li><a href="">COMPUTER</a></li>
                                            <li><a href="">TELEPHONE</a></li>
                                            <li><a href="">TV</a></li>
                                            <li><a href="">SOUND</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">FASHION</a>
                                        <ul>
                                            <li><a href="">COMPUTER</a></li>
                                            <li><a href="">TELEPHONE</a></li>
                                            <li><a href="">TV</a></li>
                                            <li><a href="">SOUND</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">HOME & LIFE</a>
                                        <ul>
                                            <li><a href="">COMPUTER</a></li>
                                            <li><a href="">TELEPHONE</a></li>
                                            <li><a href="">TV</a></li>
                                            <li><a href="">SOUND</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">AUTOMOTIVE</a>
                                        <ul>
                                            <li><a href="">COMPUTER</a></li>
                                            <li><a href="">TELEPHONE</a></li>
                                            <li><a href="">TV</a></li>
                                            <li><a href="">SOUND</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">MOM & BABY</a></li>
                                    <li><a href="#">SPORT & OUTDOOR</a></li>
                                    <li><a href="#">COSMETICS</a></li>
                                    <li><a href="#">HOBBY</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
