{% extends "app/base.html.twig" %}
{% block body %}
    <div class="container">
        <div class="row mt-4">
            <div class="col-9 pr-4">
                <h5 class="text-dark pb-2 mt-4">Delivery Address</h5>
                <div class="card mb-2">
                    <div class="card-body">
                        <h5 class="card-title">Username's House</h5>
                        <p class="card-text">Mimarsinan Mh. Emiroglu Cd. YAsardogu Sk. No:34/2 TUZLA/ISTANBUL</p>
                    </div>
                </div>
                <p class="card-text text-right">
                    <a href="#" class="text-muted">Add New Address</a>
                </p>

                <h5 class="text-dark pb-2 mt-4">Invoice Address</h5>
                <div class="card mb-2">
                    <div class="card-body">
                        <h5 class="card-title">Username's House</h5>
                        <p class="card-text">Mimarsinan Mh. Emiroglu Cd. YAsardogu Sk. No:34/2 TUZLA/ISTANBUL</p>
                    </div>
                </div>
                <p class="card-text text-right">
                    <a href="#" class="text-muted">Add New Address</a>
                </p>
            </div>
            <div class="col-3 pl-4 mt-4">
                <div class="card bg-transparent border" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Card Totals</h5>
                        <div class="row mt-2">
                            <div class="col-6">Subtotal</div>
                            <div class="col-6 text-right">$839.00</div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-6">Shipping</div>
                            <div class="col-6 text-right">$0.00</div>
                        </div>
                        <div class="row mt-5 mb-5">
                            <div class="col-6"><h6>Total</h6></div>
                            <div class="col-6 text-right">$839.00</div>
                        </div>
                        <a href="{{ path('app_app_default_payment') }}"><button type="button" class="btn btn-md btn-light border mt-2 mb-5 w-100">Proceed to Checkout</button></a>
                        <small>Enter Code</small>
                        <input type="code" class="form-control mt-2" placeholder="GIFT CODE">
                        <button type="button" class="btn btn-md btn-light border mt-2 w-100">Apply Code</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}