{% extends 'app/base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    {% include "app/slider.html.twig" %}
    <div class="container">
        <div class="row text-left"
            style="font-family: 'Montserrat SemiBold', sans-serif; margin-left: 5px; font-size: 22pt; margin-top: 30px; margin-bottom: 10px">
            Top Sells
        </div>
        <div class="row text-center" style="text-align: center;">
            <a href="{{ path('app_app_default_index') }}">
            <div class="col-3 mt-3">
                <div class="card-deck">
                    <div class="card shadow-sm" style="border-radius: 10px; width: 300px; height: 350px">
                        <div class="card-image"
                            style="background-image: url('https://productimages.hepsiburada.net/s/40/200-200/10683681734706.jpg')">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a style="font-size: 9pt">Samsung QE55Q60TAUXTK 55'' 139 Ekran Uydu
                                    Alıcılı 4K Ultra HD Smart QLED TV</a></h5>
                            <strong><a style="font-size: 14pt; color: orangered">3999</a><a style="font-size: 9pt; color: orangered">TL</a></strong>
                            <strike><a class="text-black-50" style="font-size: 9pt">4579 TL</a></strike>
                        </div>
                    </div>
                </div>

            </div></a>
        </div>
        <div class="row text-left"
            style="font-family: 'Montserrat SemiBold', sans-serif; margin-left: 5px; font-size: 22pt; margin-top: 90px; margin-bottom: 10px">
            Brands
        </div>
        <div class="row text-center" style="text-align: center;">
            <div class="col-2 mt-3">
                <div class="card-deck" style=" width: 175px; ">
                    <div class="card shadow-sm" style="border-radius: 10px; height: 100px">
                        <div class="card-image"
                            style="background-image: url('https://images.hepsiburada.net/banners/s/0/128-80/featurelist_68_20201105194324.png/format:webp')">
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-2 mt-3">
                <div class="card-deck" style=" width: 175px; ">
                    <div class="card shadow-sm" style="border-radius: 10px; height: 100px">
                        <div class="card-image"
                            style="background-image: url('https://images.hepsiburada.net/banners/s/0/128-80/featurelist_68_20201105113439.png/format:webp')">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-2 mt-3">
                <div class="card-deck" style=" width: 175px; ">
                    <div class="card shadow-sm" style="border-radius: 10px; height: 100px">
                        <div class="card-image"
                            style="background-image: url('https://images.hepsiburada.net/banners/s/0/128-80/featurelist_68_20201105121647.png/format:webp')">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-2 mt-3">
                <div class="card-deck" style=" width: 175px; ">
                    <div class="card shadow-sm" style="border-radius: 10px; height: 100px">
                        <div class="card-image"
                            style="background-image: url('https://images.hepsiburada.net/banners/s/0/128-80/featurelist_68_20201105122458.png/format:webp')">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-2 mt-3">
                <div class="card-deck" style=" width: 175px; ">
                    <div class="card shadow-sm" style="border-radius: 10px; height: 100px">
                        <div class="card-image"
                            style="background-image: url('https://images.hepsiburada.net/banners/s/0/128-80/featurelist_68_20201105123121.png/format:webp')">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-2 mt-3">
                <div class="card-deck" style=" width: 175px; ">
                    <div class="card shadow-sm" style="border-radius: 10px; height: 100px">
                        <div class="card-image"
                            style="background-image: url('https://images.hepsiburada.net/banners/s/0/128-80/featurelist_68_20201105124728.png/format:webp')">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center" style="margin-left: -30px; margin-right: 30px ">
            <div class="col-2 mt-5">
                <div class="card-deck" style=" width: 1150px; margin-top: 40px; text-align: center">
                    <div class="card shadow-sm" style="border-radius: 10px; height: 350px; background-color: lightgrey">
                        <div class="card-images" style="background-image: url('https://cdn.shopify.com/s/files/1/0115/0272/collections/collection-banner_iPhone_12_6.1_Pro_1200x1200.jpg?v=1602725877'); height: 350px;
                width: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;border-radius: 10px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-left"
            style="font-family: 'Montserrat SemiBold', sans-serif; font-size: 22pt; margin-top: 90px; margin-bottom: 10px">
            Home & Life
        </div>
        <div class="row text-center" style="margin-left: -30px; margin-right: -30px ">
            <a href="{{ path('app_app_default_index') }}">
                <div class="col-3 mt-3">
                    <div class="card-deck">
                        <div class="card shadow-sm" style="border-radius: 10px; width: 300px; height: 350px">
                            <div class="card-image"
                                 style="background-image: url('https://productimages.hepsiburada.net/s/40/200-200/10683681734706.jpg')">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><a style="font-size: 9pt">Samsung QE55Q60TAUXTK 55'' 139 Ekran Uydu
                                        Alıcılı 4K Ultra HD Smart QLED TV</a></h5>
                                <strong><a style="font-size: 14pt; color: orangered">3999</a><a style="font-size: 9pt; color: orangered">TL</a></strong>
                                <strike><a class="text-black-50" style="font-size: 9pt">4579 TL</a></strike>
                            </div>
                        </div>
                    </div>

                </div></a>
        </div>
    </div>
    <style>
        .card .card-image {
            height: 200px;
            width: auto;
            background-size: auto 100%;
            background-repeat: no-repeat;
            background-position: center center;
        }

        .card .card-body .card-title {
            height: 60px;
        }


    </style>
{% endblock %}
