{% extends "app/base.html.twig" %}
{% block body %}
    <div class="container">
        <div class="row mt-4">
            <div class="card bg-transparent border w-100" style="width: 18rem;">
                <div class="col-12 py-1 text-center">
                    <img style="width: 100px; height: auto" src='https://www.babytech.com.tr/Uploads/EditorUploads/Tick_Mark_Dark-512.png'>
                    <h5 class="card-title mt-2">Payment is Success</h5>
                    <h6>Your #3485734 order has been successfully paid.</h6>
                    <a href="{{ path('app_app_default_orders') }}">
                        <div class="btn btn-outline-dark w-25 mt-4 mb-4">My Orders</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}