{% extends "app/base.html.twig" %}
{% block body %}
    <div class="container">
        <div class="row mt-4">
            <div class="card bg-transparent border w-100" style="width: 18rem;">
                <div class="col-12 py-4 text-center">
                    <img style="width: 100px; height: 100px" src='https://lh3.googleusercontent.com/proxy/aBKR5QLvSovLHNHW-CyrSOrlA4tHzxhBs5Bf3IKzV-QRnHWc12mzOpWg5q2jnKa7LB7rAvv4EwIJy0n3KUE8YnXvgxCZ5teFZdOQUX5_z4s1_hzx-CoB6uY3a-p9TGPAsE6S-9VLEW4GQw'>
                    <h5 class="card-title mt-2">Ödeme Başarılı</h5>
                    <h6>21342342123 nolu siparişinizin ödemesi başarıyla yapılmıştır</h6>
                    <a href="{{ path('app_app_default_orders') }}"><div class="btn btn-outline-dark w-25 mt-4">My Orders</div></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}