<div class="header">
    <div class="row">

        {# LOGO-SEARCH-LOGIN #}
        <div class="col-12 bg-light border-bottom" style="height: 84px;">
            <div class="container" style="height: 84px">
                <div class="row pt-4">

                    {# LOGO #}
                    <div class="col">
                        <img style="width: auto; height: 32px;"
                             src='https://iconape.com/wp-content/files/fl/85575/svg/prosper-marketplace-corporate-logo.svg'>
                    </div>

                    {# ACCOUNT DROPDOWN #}
                    <div class="col">
                        <div class="dropdown show" style="float: right">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
                               id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                ACCOUNT
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">Account</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>