{% extends 'admin/base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="container">
        <div class="row ml-0">
            <div class="col-4 my-5">
                <div class="card text-center" style="width: 18rem;">
                    <img class="card-img-top border-bottom py-5 px-5" src="https://static.thenounproject.com/png/952397-200.png" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Product Management</h4>
                    </div>
                </div>
            </div>
            <div class="col-4 my-5">
                <div class="card text-center" style="width: 18rem;">
                    <img class="card-img-top border-bottom py-3 px-3" src="https://icons-for-free.com/iconfiles/png/512/shop+store+icon-1320087054973065805.png">
                    <div class="card-body">
                        <h4 class="card-title">Seller Management</h4>
                    </div>
                </div>
            </div>
            <div class="col-4 my-5">
                <div class="card text-center" style="width: 18rem;">
                    <img class="card-img-top border-bottom py-5 px-5" src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">User Management</h4>
                    </div>
                </div>
            </div>

            <div class="col-4 my-5">
                <div class="card text-center" style="width: 18rem;">
                    <img class="card-img-top border-bottom py-5 px-5" src="https://i.pinimg.com/originals/ab/ed/26/abed265cd5f621820ce2457d1abc7391.png" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Discount Management</h4>
                    </div>
                </div>
            </div>
            <div class="col-4 my-5">
                <div class="card text-center" style="width: 18rem;">
                    <img class="card-img-top border-bottom py-4 px-4" src="https://static.thenounproject.com/png/241101-200.png">
                    <div class="card-body">
                        <h4 class="card-title">Coupon Management</h4>
                    </div>
                </div>
            </div>
            <div class="col-4 my-5">
                <div class="card text-center" style="width: 18rem;">
                    <img class="card-img-top border-bottom py-4 px-4" src="https://static.thenounproject.com/png/696605-200.png" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Slider Management</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
