ul.menu {
    list-style: none;
    height: 42px;
    font-family: "Montserrat Medium", sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 999;

}

ul.menu >li {
    float: left;
    height: 42px;
    position: relative;
}

ul.menu >li >a {
    display: block;
    font-size: 14px;
    color: black;
    padding: 0 15px;
    line-height: 42px;
    border-right: 1px solid rgba(0,0,0,.1);
    text-decoration: none;

}

ul.menu ul {
    background-color: #eee;
    font-size: 13px;
    width: 200px;
    position: absolute;
    left: 0;
    display: none;
    border-left: 1px solid rgba(0,0,0,.1);
    border-right: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

ul.menu ul li a {
    display: block;
    padding: 7px 12px;
    color: #222222;
    text-decoration: none;
}

ul.menu ul li a:hover {
    background-color: #95999c;
}

ul.menu >li:hover ul{
    display: block;

}


ul.menu >li:hover {
    border-bottom: 2px solid orange;
}
