<div class="list-group">
    <a href="{{ path('app_app_default_account') }}" class="list-group-item list-group-item-action active">
        My Account
    </a>
    <a href="{{ path('app_app_default_orders') }}" class="list-group-item list-group-item-action">Orders</a>
    <a href="#" class="list-group-item list-group-item-action">Address</a>
    <a href="#" class="list-group-item list-group-item-action">Liked</a>
</div>